<<<<<<< HEAD

#formRegisterDealer{
    padding: 20px 50px;
    margin: 0px 100px;
    background-color: rgba(0, 0, 0, 0.925);
    position : absolute;
    width: 800px;
    z-index: 1000;
}

#formRegisterDealer h5 {
    border-bottom: #00D471 solid 1px;
}

#formRegisterDealer .close-btn{
    position : absolute;
    right: 10px;
    top: -10px;
    font-size: 40px;
    cursor: pointer;
}

#formRegisterDealer input {
    background-color: rgba(99, 99, 99, 0.452);
    margin-top: -50px;
    width: 100%;
    border: none;
}


#formRegisterDealer .btn {
    background-color: #00D471;

=======

#formRegisterDealer{
    padding: 20px 50px;
    margin: 0px 100px;
    background-color: rgba(0, 0, 0, 0.925);
    position : absolute;
    width: 800px;
    z-index: 1000;
}

#formRegisterDealer h5 {
    border-bottom: #00D471 solid 1px;
}

#formRegisterDealer .close-btn{
    position : absolute;
    right: 10px;
    top: -10px;
    font-size: 40px;
    cursor: pointer;
}

#formRegisterDealer input {
    background-color: rgba(99, 99, 99, 0.452);
    margin-top: -50px;
    width: 100%;
    border: none;
}


#formRegisterDealer .btn {
    background-color: #00D471;

>>>>>>> d3124d65f8c66ceabfe96f3963571411dc4649a9
}