<<<<<<< HEAD
<<<<<<< HEAD
.userDetails{
    display: inline-block;
    width: auto;
    border-bottom: #00D471 solid 2px;
}

.userDetails ~ div {
    border-bottom: rgb(226, 226, 226) solid 1px;
}

#rate{
    background-color: #00D471;
}

#FarmerUser{
    width: 100%;
    height: 300px;
=======
.userDetails{
    display: inline-block;
    width: auto;
    border-bottom: #00D471 solid 2px;
}

.userDetails ~ div {
    border-bottom: rgb(226, 226, 226) solid 1px;
}

#rate{
    background-color: #00D471;
}

#FarmerUser{
    width: 100%;
    height: 300px;
>>>>>>> d3124d65f8c66ceabfe96f3963571411dc4649a9
=======
.userDetails{
    display: inline-block;
    width: auto;
    border-bottom: #00D471 solid 2px;
}

.userDetails ~ div {
    border-bottom: rgb(226, 226, 226) solid 1px;
}

#rate{
    background-color: #00D471;
}

#FarmerUser{
    width: 100%;
    height: 300px;
>>>>>>> 9c0eb3c84cc1723aeb4b7f574eb7440a412bf58f
}